:root {
  --control-focus-clr: navy;
  --control-surface-bg: #f2f2f2;
  --control-border-bg: silver;
  --control-footer-area-bg: #e6e6e6;
  --control-inverse-body-area-bg: #131313;
  --control-inverse-body-text-clr: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.toggletip-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg-toggletip: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke-width='1.5' d='M21.25 7.506v6.607a3.963 3.963 0 0 1-3.964 3.965h-2.643l-2.18 2.18a.636.636 0 0 1-.925 0l-2.18-2.18H6.713a3.964 3.964 0 0 1-3.964-3.965V7.506a3.964 3.964 0 0 1 3.964-3.964h10.572a3.964 3.964 0 0 1 3.964 3.964m-9.244 7.743v-5.05'/%3E%3Cpath stroke-width='2' d='M11.898 6.994h.006'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-toggletip);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-toggletip);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  forced-color-adjust: none;
}

.close-tooltip-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg-close-tooltip: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-close-tooltip);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-close-tooltip);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  forced-color-adjust: none;
}

.toggletip {
  --_tip-border-width: 15px;
  --_tip-space: 3px;
  --_min-target-size: 24px;
  --_toggletip-max-width: 350px;
  --_toggletip-max-height: 300px;
  --_toggletip-icon-min-size: 1.5rem;
  --_toggletip-icon-size: 1.5em;
  display: inline;
}
.toggletip__open-wrapper {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: var(--_toggletip-icon-size);
  height: 1em;
  margin-inline: 0.25em;
}
.toggletip__opener {
  position: absolute;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: var(--_min-target-size);
  min-width: var(--_min-target-size);
  border: none;
  font-size: inherit;
  cursor: pointer;
}
.toggletip__opener:hover, .toggletip__opener:focus {
  border-radius: 0.25em;
  outline-offset: 0.15em;
  outline: 2px solid var(--control-focus-clr);
}
.toggletip__opener:focus:not(:focus-visible) {
  border-radius: 0.25em;
  outline-offset: 0.15em;
  outline: 2px solid var(--control-focus-clr);
}
.toggletip__icon {
  forced-color-adjust: none;
  padding: 0;
  margin: 0;
  font-size: var(--_toggletip-icon-size);
}
.toggletip__label {
  font-size: 1em;
}
.toggletip__content-area {
  padding-top: 1rem;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(calc(var(--_min-target-size) + 1rem), auto);
  border-radius: 0.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  z-index: 1;
  min-width: 350px;
  max-width: var(--_toggletip-max-width);
  width: max-content;
  min-height: 100px;
  max-height: var(--_toggletip-max-height);
  height: max-content;
  background-color: var(--control-surface-bg);
  filter: drop-shadow(0px 0px 4px darkgrey);
  border: none;
  outline: none;
}
.toggletip__content-area--hidden {
  display: none;
}
.toggletip__content-area--top {
  bottom: calc(100% + var(--_tip-border-width) + var(--_tip-space));
  left: 50%;
  transform: translateX(-50%);
}
.toggletip__content-area--top::after {
  position: absolute;
  content: "";
  border: var(--_tip-border-width) solid;
  border-color: var(--control-footer-area-bg) transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  pointer-events: none;
  forced-color-adjust: none;
}
.toggletip__content-area--bottom {
  top: calc(100% + var(--_tip-border-width) + var(--_tip-space));
  left: 50%;
  transform: translateX(-50%);
}
.toggletip__content-area--bottom::after {
  position: absolute;
  content: "";
  border: var(--_tip-border-width) solid;
  border-color: transparent transparent var(--control-surface-bg) transparent;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  pointer-events: none;
  forced-color-adjust: none;
}
.toggletip__content-area--left {
  right: calc(100% + var(--_tip-border-width) + var(--_tip-space));
}
.toggletip__content-area--left::after {
  position: absolute;
  content: "";
  border: var(--_tip-border-width) solid;
  border-color: transparent transparent transparent var(--control-surface-bg);
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  forced-color-adjust: none;
}
.toggletip__content-area--right {
  left: calc(100% + var(--_tip-border-width) + var(--_tip-space));
}
.toggletip__content-area--right::after {
  position: absolute;
  content: "";
  border: var(--_tip-border-width) solid;
  border-color: transparent var(--control-surface-bg) transparent transparent;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  forced-color-adjust: none;
}
.toggletip__content {
  padding-inline: 0.75em;
  grid-row: 1/2;
  overflow-y: auto;
}
.toggletip__content:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--control-focus-clr);
  border-radius: 0.25rem;
}
.toggletip__footer {
  grid-row: 2/3;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--control-footer-area-bg);
  max-height: calc(var(--_toggletip-icon-size) * 2);
  align-self: end;
}
.toggletip__closer {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  outline: 2px solid var(--control-inverse-body-area-bg);
  max-height: calc(var(--_toggletip-icon-size) * 2);
  max-width: calc(var(--_toggletip-icon-size) * 2);
  min-height: var(--_min-target-size);
  min-width: var(--_min-target-size);
  font-size: inherit;
  cursor: pointer;
}
.toggletip__closer:active {
  transform: scale(0.97);
}
.toggletip__closer:focus, .toggletip__closer:hover {
  forced-color-adjust: none;
  background-color: var(--control-inverse-body-area-bg);
  color: var(--control-inverse-body-text-clr);
}

/*
    <div class="toggletip>
        <span class="toggletip__label"><span>

            <div class="toggletip__open-wrapper">

                <button class="toggletip__opener">
                    <span class="toggletip__icon"></span>
                </button>

                //content-area, content, footer, closer not important for discussion.
            </div>

        <span class="toggletip__label"><span>
    </div>
*/
